<div class="row">
    <div class="column column-33">
        <img id="avatar" src="http://placehold.it/256x256">
    </div>
    <div class="column column-67">
        <h1>{{ title }}</h1>
        <h3>{{ subtitle }}</h3>

    </div>
</div>
<hr> {{{ content }}}


<hr>
<div>

    <h3>Contact me!</h3>
    <br/> {{#if global.twitter}}<a class="button button-outline" href="{{global.twitter}}">Twitter</a>{{/if}} {{#if global.github}}<a href="{{global.github}}" class="button button-outline">Github</a>{{/if}}

</div>